* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #f9f9fb;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}

.logo-texto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titulo {
  font-size: 26px;
  font-weight: bold;
  color: #232145;
}

.icono-logo {
  font-size: 24px;
  color: #232536;
}

.sub-barra {
  background-color: #23236f;
  color: white;
  padding: 10px 80px;
  font-size: 16px;
  width: 100%;
}

.contenedor-principal {
  flex: 1;
  display: flex;
  height: 100%;
}

.menu-lateral {
  width: 60px;
  background-color: #99a9c578;
  padding: 65px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.icono-modulo {
  font-size: 25px;
  color: rgb(35, 37, 54);
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icono-modulo:hover {
  transform: scale(1.2);
}

.etiqueta {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2f2f2f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: 'Ubuntu', sans-serif;
}

.icono-modulo:hover .etiqueta {
  opacity: 1;
}

.principal {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu-opciones {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icono-separado {
  margin-right: 10px;
}

.menu-opciones .icono-modulo {
  font-size: 25px;
  color: rgb(35, 37, 54);
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-opciones .icono-modulo:hover {
  transform: scale(1.2);
}

.menu-opciones .icono-modulo .etiqueta {
  position: absolute;
  left: -200%;
  top: 50px;
  transform: translateY(-50%);
  background-color: #2f2f2f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: 'Ubuntu', sans-serif;
}

.menu-opciones .icono-modulo:hover .etiqueta {
  opacity: 1;
}

.contenido {
  flex: 1;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.211);
  margin: 20px;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opciones-catalogo {
  display: flex;
  gap: 170px;
}

.opcion-catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.boton-opcion {
  width: 290px;
  height: 250px;
  background-color: #99A9C5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: #232536;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.boton-opcion:hover {
  transform: scale(1.05);
}

.etiqueta-opcion {
  color: white;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 0.5px;
}
